###################################################
# Replication Manager configuration file
###################################################

# Cluster name
cluster=test

# Node ID
node=2
node_name=standby2

# Connection information
conninfo='host=192.168.204.104'
rsync_options=--archive --checksum --compress --progress --rsh=ssh

# How many seconds we wait for master response before declaring master failure
master_response_timeout=60

# How many time we try to reconnect to master before starting failover procedure
reconnect_attempts=6
reconnect_interval=10

# Autofailover options
failover=automatic
priority=-1
promote_command='repmgr standby promote -f /path/to/repmgr.conf'
follow_command='repmgr standby follow -f /path/to/repmgr.conf'

# Log level: possible values are DEBUG, INFO, NOTICE, WARNING, ERR, ALERT, CRIT or EMERG
# Default: NOTICE
loglevel=NOTICE

# Logging facility: possible values are STDERR or - for Syslog integration - one of LOCAL0, LOCAL1, ..., LOCAL7, USER
# Default: STDERR
logfacility=STDERR

# Restore Command: The shell command to execute to retrieve an archived segment of the WAL file series.
# Default: none
restore_command='cp /mnt/server/archivedir/%f "%p"'

# Archive Cleanup Command: Shell command that will be executed at every restartpoint.
# Default: none
archive_cleanup_command='pg_archivecleanup /mnt/server/archivedir %r'

# Recovery End Command: Shell command that will be executed once only at the end of recovery.
# Default: none
recovery_end_command='mail -s "Recovery End Complete - Check pg_log for details." dba'

# Trigger File: Specifies a trigger file whose presence ends recovery in the standby.
# Default none
trigger_file='/path_to/trigger'
